@charset "utf-8";


/*

Colour palette:

Black:
#363232

Green accent:
#6DECD7

Green accent, dark variant (OK on white)
#0A8566

*/


/************************************ TYPEFACES ************************************/

* {
	font-family: 'Lora', Gotham, Helvetica, Arial, sans-serif;	
    color: #363232;
    font-size: 1.05rem;
    transition: all 0.1s;
}

h1, h2, h3, p.intro, .articles a, .articles .meta {
    font-family: 'Rubik', Gotham, Helvetica, Arial, sans-serif;
}

/************************************ GENERAL ************************************/

body {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

section {
	width: 80%;
	max-width: 30em;
	margin: 2em auto;
    padding-bottom: 1em;
    border-bottom: 1px solid #6DECD7;
}

section.intro {
    margin-top: 0;
}

section:last-of-type {
    border-bottom: 0px;
}

img {
    max-width: 100%;
}



/************************************ TEXT ************************************/

h1 {
    font-size: 3.5em;
    line-height: 0.95em;
    margin-bottom: 0.25em;
    margin-top: 0;
    padding-top: 1em;
    text-shadow: -0.02em 0.02em #6DECD7;
}

h2 {
    font-size: 2em;
    padding-bottom: 0em;
    margin-bottom: 0;
}

h3 {
    
}

p {
    font-size: 0.95em;
    margin-bottom: 1em;
}

p.intro {
    font-size: 1.5em;
}

/************************************ LINKS ************************************/

a {
	color: #363232;
    display: inline;
}

a:hover, a:focus {
    color: #0A8566;
    text-decoration-style: double;
    text-decoration-color: #6DECD7;
}


/************************************ ARTICLES ************************************/


.articles ul {
    margin: 0;
    padding: 0;
}

.articles li {
    list-style-type: none;
    display: block;
}

.articles h3 {
    margin: 2em auto 0;
}

.articles h3 a {
    font-size: 1.3em;
    font-weight: 500;
}

.articles .meta {
    font-size: 0.9em;
    margin-top: 0.5em;
}

.articles .thumbnail {
    display: block;
    position: relative;
    text-decoration: none;
    background-color: #6DECD7;
}

.articles .thumbnail .img-container {
    opacity: 1;
    margin: 0;
    padding: 0;
    display: block;    
}

.articles .thumbnail .img-container img {
    float: left;
}

.articles .thumbnail:hover .img-container, .articles .thumbnail:focus .img-container {
    opacity: 0.8;
}

.articles .thumbnail:after {
    clear: both;
    content: "Read article \2192";
    display: block;
    text-align: center;
    background-color: #6DECD7;
    padding: 0.5em;
    margin: 0 0 1em;
    font-weight: 500;
    color: #363232;
}

.articles a.thumbnail:hover:after, .articles a.thumbnail:focus:after {
    background-color: #363232;
    color: #6DECD7;
}


@media screen and (min-width: 600px) {
  
    .articles .thumbnail img {
        display: none;
    }
    
    .articles .thumbnail .img-container {
        display: block;
        min-height: 200px;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-color: none;
        border: 2px solid white;
    }
    
    #article-heck-yes .img-container {
        background-image: url(../images/heck-yes-large.jpg);
    }
    
    #article-inaccessible-web .img-container {
        background-image: url(../images/inaccessible-large.jpg);
    }
    
    
    .articles .thumbnail:after {
        
        position: absolute;
        display: inline-block;
        right: 0;
        bottom: 0;
        padding: 0.5em 1em;
        margin: 0.5em;
        
    }
    
    .articles .thumbnail:hover .img-container, .articles .thumbnail:focus .img-container {
        border-color: #363232;
    }
    
}


/************************************ BACKGROUND ************************************/

.background {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
    z-index: -1;
    position: absolute;
}

.background:after {
    position: absolute;
    top: 0;
    left: -150%;
    word-wrap: break-word;
    content: '';
    width: 300%;
    height: 13em;
    background-color: #F0FFFC;
    transform: rotate(350deg);
    padding: 0;
    margin: 0;
}

