// GENERAL LAYOUT

* {
	margin: 0;
    @extend %body_normal;
}
 
html {
    font-size: 1em;   
}

body {
	background-color: $color_primary_dark;
	color: $color_primary_light;
}


// Primary (outer) containers
.container {
    @extend %primary_container;
}

#primary-container {
	min-height: 100%;
	margin-bottom: $footer_height;
	margin-bottom: $size_l;
    &:after {
       @extend %clear_block;
	   height: $footer_height; 
    }
}

.highlight {
    background-color: $color_accent_dark;
    padding: $size_s;
    ol, ul {
        padding-left: 1.5em;   
    }
}

@mixin vertical-padding($value) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin horizontal-padding($value) {
    padding-left: $value;
    padding-right: $value;
}

@each $label, $value in $standard_size_map {    
    .vertical-padding-#{$label} {
        @include vertical-padding($value);
    }
    .horizontal-padding-#{$label} {
        @include horizontal-padding($value);
    }
}


// Todo: move this

code {
    background-color: $color_subtle_dark;
    color: $color_lightest;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    padding: $size_s;
    display: block;
}

.example {
    background-color: $color_accent_dark;
    padding: $size_s;
}