// FORM ELEMENTS

%form-element {
    font-size: 1.1em;
    display: block;
    margin-bottom: $size_xs;
    padding: $size_xs;
}

select, textarea, input[type="text"], input:not([type]), keygen {
    @extend %form-element;
    min-width: 15em;
}

// Checkboxes

// Radio buttons

// Text input

// Sliders

// Interactive output

// Drop-down lists

select {
    
}

// Datalist

// Fieldset